.Hangman {
  color: black;
  text-align: center;
  width: 100vw; 
  height: 100vh; 
  overflow-y: auto;
}

.Hangman img {
  border: 0.3rem solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.correct-guess {
  letter-spacing: 0.5em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 1.5rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  letter-spacing: 1rem;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 0.4rem #ff9800;
  border-radius: 0.3rem;
  padding-top: 0.2rem;
}

.Hangman button:hover {
  background-color: #ff9800;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

.msg-display{
  font-size: 1.5rem;
}